/*
PRE-CONFIG
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

/*
YOUTUBE PLAYER
*/
.player {
	width: 1920px;
	height: 1080px;
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

/*
SHOW/HIDE BUTTON
*/
.show-hide {
	position: absolute;
	right: 3px;
	color: white;
	font-size: 20px;
	top: 3px;
	cursor: pointer;
	z-index: 3;
}

/*
MENU
*/
.menu {
	width: 25%;
	height: 100%;
	position: absolute;
	right: 0;
	background-color: rgba(46, 46, 46, 0.5);
	z-index: 2;
	display: flex;
	flex-flow: row wrap;
	padding: 1%;
}

/*
CITIES LIST
*/
.cities, .radio {
	width: 100%;
	position: relative;
	border: 1px solid #fff;
	border-radius: 2px;
	margin-top: 3%;
}

.cities {
	height: 25%;
}

.cities-header, .radio-header {
	width: 100%;
	height: 15%;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background: #eee;
	font-size: 15px;
}

.radio-header {
	height: 40%;
}

.cities-list {
	text-align: center;
	height: 85%;
}

.cities-list ul {
	background: #292929;
	padding: 2%;
	height: 100%;
	overflow-y: scroll !important;
}

.cities-list li {
	padding: 3px 5px;
	color: white;
	background: #292929;
	cursor: pointer;
	transition: all .5s;
	border-radius: 2px;
	font-size: 13px;
	margin: 1%;
}

.cities-list li:hover {
	background: #ccc;
	color: black;
}

.cities-list li.active {
	border: 1px solid #ccc;
}

/*
RADIO
*/
.radio {
	height: 10%;
}

.radio-controls {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	padding: 10px;
}

.radio-play-pause, .radio-volume {
	cursor: pointer;
	color: white;
}

.radio-play-pause {
	width: 10%;
}

.radio-volume {
	width: 90%;
}

.radio-volume input {
	width: 100%;
}

/*
RANDOM CITY
*/
.random-city {
	width: 100%;
	height: 7%;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: #292929;
	cursor: pointer;
	transition: all .5s;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.random-city:hover {
	background: #ccc;
	color: black;
}

/*
CONFIGURATION
*/
.configuration {
	width: 100%;
	height: 15%;
}

.configuration-group {
	width: 100%;
	height: 50%;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.configuration-group button {
	padding: 5px 15px;
	cursor: pointer;
	background: none;
	color: #eee;
	border: 1px solid #eee;
	font-size: 16px;
	outline: none;
}

.configuration-group button.active {
	background: #eee;
	color: black;
}

.information {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
}

.social, .video-source {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.video-source a {
	color: #eee;
}

.social {
	font-size: 25px;
}

.social a {
	color: rgba(255, 255, 255, .6);
	transition: color .5s;
}

.social a:hover {
	color: white;
}

/*
MENU FOOTER
*/
.footer {
	position: relative;
	width: 100%;
	text-align: center;
}

.footer p {
	color: white;
}

.footer a {
	color: dodgerblue;
	text-decoration: none;
}

/*
LOCATION
*/
.location {
	position: absolute;
	left: 1%;
	top: 1%;
	color: black;
	font-size: 15px;
	z-index: 1;
	background: #eee;
	padding: 5px 10px;
	border-radius: 2px;
}

/*
LOADING 
*/
.loading {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading h1 {
	animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
	0% {
		opacity: 1;
	} 50% {
		opacity: 0;
	} 100% {
		opacity: 1
	}
}